<template>
    <layout>
        <el-row>
            <h1>Nuevo Usiuario</h1>
        </el-row>

        <el-divider></el-divider>

        <el-card shadow="never">
            <el-form ref="form" :model="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input type="text" v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="Contraseña" prop="password">
                    <el-input type="password" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item label="Confirmar Contraseña" prop="checkPass">
                    <el-input type="password" v-model="form.checkPass"></el-input>
                </el-form-item>
                <el-form-item style="text-align: right;">
                    <el-button type="primary" @click="submit">Guardar</el-button>
                </el-form-item>

            </el-form>
        </el-card>


    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
            return {
                form: {
                    username: '',
                    password: '',
                    checkPass: '',
                },
                rules: {
                    username: {required: true, message: 'El usuario es requerido'},
                    password: {required: true, message: 'La contaseña es requerida'},
                    checkPass: {required: true, message: 'Deben confirmar la contraseña'},
                }

            }
        },
        methods: {
            submit() {
                if (this.form.password === this.form.checkPass) {
                    this.$refs.form.validate(() => {
                        this.$inertia.post('/users' , {
                            username: this.form.username,
                            password: this.form.password,
                        })
                    });
                } else {
                    this.$message({
                        message: 'La contraseña no concuerdan',
                        type: 'error'
                    })
                }
            }
        },
        mounted() {


        }
    }

</script>
