<template>
    <el-container>
        <el-header style="text-align: right">
            <el-dropdown style="margin-top: 10px" trigger="click">

                <avatar :username="name" : size="40" background-color="#70d69b"/>

                <!--            <el-button type="info"> {{ $page.prop.auth.user.username }} </el-button>-->
                <el-dropdown-menu slot="dropdown">
                    <a href="/logout">
                        <el-dropdown-item>Salir</el-dropdown-item>
                    </a>
                </el-dropdown-menu>
            </el-dropdown>
        </el-header>

        <el-container>

            <el-menu collapse>
                <inertia-link href="/">
                    <el-menu-item index="1">
                        <i class="fas fa-home"></i>
                        <span slot="title">Dashboard</span>
                    </el-menu-item>
                </inertia-link>

                <inertia-link href="users">
                    <el-menu-item index="2">
                        <i class="fas fa-users"></i>
                        <span slot="title">Usuarios</span>
                    </el-menu-item>
                </inertia-link>
            </el-menu>

            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>


</template>
<script>
    import Avartar from 'vue-avartar';

    export default {
        name: 'layout',
        components: {
            Avatar
        },

        data() {
            return {
                name: '',
            }
        },
        methods: {},

        mounted() {
            if (this.$page.prop.auth.user) {
                this.name = this.$page.prop.auth.user.username;
            }
        }
    }
</script>
