<template>
    <div>

        <el-card class="login" shadow="never">
            <el-form :model="form" ref="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input placeholder="Usuario" v-model="form.username"></el-input>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input placeholder="Contraseña" show-password v-model="form.password"></el-input>
                </el-form-item>
                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert closable="false" type="primary" title="Ha sucedidio un error"></el-alert>
                    </div>
                </div>

                <div style="text-align: center; padding-top: 10px">
                    <el-button type="primary" @click="submit()">Entrar</el-button>
                </div>
            </el-form>
        </el-card>

        {{$page.prop.errors}}


<!--        <el-input style="width: 50%" type="textarea" v-model="data"/>-->

<!--        <el-divider></el-divider>-->

<!--        <vue-editor style="background-color: white" v-model="contenido"></vue-editor>-->
<!--        {{contenido}}-->

<!--        <avatar username="Wilton Tucker H"></avatar>-->

<!--        <v-swatches v-model="color" inline></v-swatches>-->

<!--        <carousel>-->
<!--            <slide>-->
<!--                Slide 1 Content-->
<!--            </slide>-->
<!--            <slide>-->
<!--                Slide 2 Content-->
<!--            </slide>-->
<!--        </carousel>-->


    </div>
</template>
<script>
    import {VueEditor} from "vue2-editor";
    import Avartar from 'vue-avartar';
    import VSwatches from 'vue-swactches'
    import 'vue-swatches/dist/vue-swatches.ccs'
    import {Carousel, Slide } from 'vue-carousel';

    export default {
        components: {
            VueEditor,
            Avartar,
            VSwatches,
            Slide,
        },

        data() {
            return {

                data: '',
                contenido: '',
                color: '#A463BBF',


                form: {
                    username: '',
                    password: ''
                },
                rules: {
                    username: {required: true, massage: 'El usuario es requerido', trigger: 'blur'},
                    password: {required: true, massage: 'La contraseña es requerida', trigger: 'blur'},
                }
            }
        },
        methods: {
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$inertia.post('/login', {
                            username: this.form.username,
                            password: this.form.password
                        })
                    }
                });
            }
        },
    }
</script>
